@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
:root{
    --main-color:#F59E0B;
}
body{
   
   
    font-family: 'Merienda', cursive;
}
hr{
    margin: 2rem 0rem;
}
/* LINK STYLING */
.link{
padding: 0.2rem 1rem;
}
.link-primary
{
    background-color: var(--main-color);
    color: black;
    border-radius: 0.5rem;
}
.link-secondary
{
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    color: black;
}
/* LIST STYLING */
.non-bullet
{
    list-style: none;
}
.list-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}